<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="mb-2">
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Search Car" [(ngModel)]="filterText" id="filterText">
        </div>
        <div class="col-6 text-right">
          <button routerLink="/cars/addcar" class="btn btn-primary" >Add Car</button>
        </div>
      </div>
    </div>
    <!-- Basic Alerts start -->
    <section>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body pb-1">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Colors Id</th>
                    <th scope="col">Car Name</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Color Name</th>
                    <th scope="col">Model Year</th>
                    <th scope="col">Daily Price</th>
                    <th scope="col">Daily Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let car of cars | filterCar:filterText">
                    <th scope="row">{{car.carId}}</th>
                    <td>{{car.carName}}</td>
                    <td>{{car.brandName}}</td>
                    <td>{{car.colorName}}</td>
                    <td>{{car.modelYear}}</td>
                    <td>{{car.dailyPrice}} ₺</td>
                    <td>
                      <a class="btn btn-success mr-1" routerLink="/cars/update/{{car.carId}}">Edit</a>
                      <a class="btn btn-danger mr-1" (click)="delete(car)">Delete</a>
                      <a class="btn btn-primary mr-1" routerLink="/cars/gallery/{{car.carId}}">Gallery</a>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>
