<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-body pb-1">
              <div class="color">
                <h3>Colors</h3>
                <h5 *ngIf="currentColor"> {{currentColor.colorName}} seçtiniz</h5>
                <ul class="list-group">
                  <li (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.id}}" *ngFor="let color of colors" [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
                </ul>
              </div>
              <div class="brand">
                <h3>Brands</h3>
                <h5 *ngIf="currentBrand"> {{currentBrand.brandName}} seçtiniz</h5>
                <ul class="list-group">
                  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.id}}" *ngFor="let brand of brands" [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="card">
            <div class="card-body pb-1">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Cars Id</th>
                    <th scope="col">Brands Name</th>
                    <th scope="col">Color Name</th>
                    <th scope="col">Daily Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr routerLink="/cars/cardetail/{{car.carId}}" *ngFor="let car of cars">
                    <th scope="row">{{ car.carId }}</th>
                    <td>{{ car.brandName }}</td>
                    <td>{{ car.colorName }}</td>
                    <td>{{ car.dailyPrice }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
